* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --primary-color: #292da9;
    --secondary-color: #b2b2b9;
    --tertiary-color: #4e2d03;
}
body {
    color: var(--tertiary-color);
    font-family: Helvetica, Arial, sans-serif;
    background-color: #a9cbda;
}
section {
    padding: 60px;
}
/* Header Start */
header {
    padding: 20px 35px;
    background-image: url('../images/wood-background.jpg');
    background-size: cover;
    background-position: 80%;
    background-attachment: fixed;
    z-index: 9999;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-shadow: 0 0 10px rgba(0,0,0,0.5);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
header h1 {
    font-weight: bold;
    font-size: 42px;
    color: var(--secondary-color);
    margin: 0;
    text-shadow: 0 0 10px rgba(255,255,255,0.5);
}
header a {
    text-decoration: none;
    color: var(--secondary-color);
}
header nav {
    margin: 7px 0;
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
header nav ul li a {
    padding: 10px 15px;
    margin: 20px;
    font-weight: lighter;
    font-size: 1.6vw;
    text-shadow: 0 0 10px rgba(255,255,255,0.5);
    border-bottom: 5px solid var(--secondary-color);
    
}
header nav ul li a:hover {
    background: var(--tertiary-color);
    color: var(--primary-color);
    border-radius: 15px;
    text-shadow: none;
}
/* Hedaer End */
/* Hero Start */
.hero {
    background-image: url('../images/wood-background.jpg');
    background-size: cover;
    background-position: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    background-attachment: fixed;
    color: var(--secondary-color);
}
.headshot {
    flex: 1 12%;
    margin-right: 20px;
}
.headshot img {
    display: flex;
    width: 25%;
}
.hero-subtitle {
    display: flex;
    width: 50%;
    text-align: right;
    margin: 3.5%;
    font-size: 24px;
    line-height: 1.5;
    position: absolute;
    right: 0;
}
.hero-subtitle h2 {
    font-style: italic;
    text-shadow: 0 0 10px var(--primary-color);
}
/* Hero End */
/* About Me Start */
.intro div {
    border-left: 5px solid var(--tertiary-color);
    display: flex;
}
.intro p {
    line-height: 1.7;
    width: 80%;
    font-size: 20px;
    margin: 0 auto;
    text-align: left;
}
/* About Me End */
/* Work Grid Start */
.project-grid-wrapper {
    display: flex;
    width: 75%;
    height: 300px;
    justify-content: center;
    border-left: 5px solid var(--tertiary-color);
}
.project-grid-container {
    width: 75%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 10px;
    font-size: 1.2rem;
}
.grid-item {
    padding: 15px 0;
    border: 3px solid var(--primary-color);
    display: flex;
    align-items: flex-end;
    color: var(--secondary-color);
    text-shadow: 0 0 1px rgba(255,255,255,0.5);
    position: relative;
    z-index: 8888;
    text-decoration: none;
}
.grid-item h3 {
    position: relative;
    margin-bottom: 0;
    background-color: var(--primary-color);
    padding: 10px;
}
.grid-item h3 span {
    font-size: 15px;
}

.item-1 {
    grid-column: span 2;
    grid-row: span 2;
    background-image: url('../images/ddscreenshot1.png');
    background-size: cover;
}
.item-2 {
    background-image: url('../images/horiseon-screenshot-2.png');
    background-size: cover;
}
.item-3 {
    background-image: url('../images/run-buddy-screenshot.jpg');
    background-size: cover;
}
.item-4 {
    background-image: url('../images/memorial-home.png');
    background-size: cover;
}
.item-5 {
    background-image: url('../images/questionmark.jpg');
    background-size: cover;
}
article:hover div::after {
    opacity: 1;
}
div::after {
    content: "";
    height: 100%;
    width: 100%;
    background: rgba(255,255,255,0.3);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: .5s;
}
/* Work Grid End */
/* Contact Me Start */
.contact-div {
    display: flex;
    border-left: 5px solid var(--tertiary-color);
    justify-content: space-around;
    align-content: center;
}
.contact-div div {
    padding: 10px 15px;
    margin: 25px;
    font-weight: lighter;
    font-size: 1.6vw;
    border-bottom: 5px solid var(--primary-color);
}
.contact-div a {
    text-decoration: none;
}
/* Contact Me End */
/* Resume Start */
.resume-file div {
    display: flex;
    border-left: 5px solid var(--tertiary-color);
    justify-content: center;
}
/* Reume End*/
/* Utility Classes */
.section-title {
    font-size: 48px;
    color: var(--tertiary-color);
    
    padding-right: 20px;
    text-align: right;
    margin: 0 auto 35px auto;
    width: 25%;
    float: left;
    text-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.flex-row {
    display: flex;
}
/*Utility Classes End */
/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }
    header h1 {
        width: 100%;
        text-align: center;
    }
    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }
    header nav ul li a {
        font-size: 20px;
    }
    .headshot, .hero-subtitle {
        align-items: center;
        width: 100%
    }
    .hero-subtitle {
        text-align: center;
    }
    .section-title {
        width: 25%;
    }
}
/*MEDIA QUERY FOR TABLETS AND SMALLER*/
@media screen and (max-width: 768px) {
    header {
        width: 100%;
    }
    .headshot img {
        width: 100%;
    }
    .hero-subtitle h2 {
        margin: 0 auto;
    }
    .section-title {
        width: 100%;
        flex: 1 100%;
        text-align: center;
    }
    .intro div, .project-grid-wrapper, .contact-div, .resume-file div {
        border-left: transparent;
    }
    .intro div {
        display: inline;
    }
    .contact-div {
        display: inline;
        text-align: center;
    }
    .contact-div div {
        border-bottom: transparent;
    }
}
/*MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
    header nav ul li a {
        border-bottom: transparent;
    }
    .hero-subtitle {
        bottom: 200px;
    }
    .projects {
        align-items: center;
    }
    .project-grid-wrapper {
        display: inline;
        height: 100%;
    }
    .project-grid-container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(4, 1fr);
    }   
    .contact-div div {
        font-size: 4vw; 
    } 
    .section-title {
        font-size: 48px;
        color: var(--tertiary-color);
        
        padding-right: 0px;
        text-align: center;
        margin: 0 auto 35px auto;
        float: left;
        text-shadow: 0 0 10px rgba(0,0,0,0.5);
    }
    .resume-file div {
        display: inline;
    }
}
